$color_1: #56D9D9;
$color_2: #344054;
$color_3: #424242;
$color_3_50: #42424248;
$paddding_1: 10px;
$marginx_1: 3rem;
$font-family_1: 'Inter';
$font-size_1: 20px;
$font-wight: bolder;
$background-color_1: #1D2939;
$radius:8px;

