<main class="cardP">
  <!-- // *********------------ card head-----------******** -->

  <div class="card" *ngFor="let item of allproductChild.slice(0, 9)">
    
    <!-- // *********------------ dis and img-----------******** -->

    <img [src]="item.thumbnail" [alt]="item.title" />
    <p class="disPric">- {{ item.discountPercentage }}</p>

    <!-- // *********------------ card body-----------******** -->

    <div class="card-body">
      <h1>{{ item.title }}</h1>
      <p>{{ item.description | pdesc }}</p>
      <p class="price">
        <span class="line-through">{{ item.price + "  USD" }}</span>
        <span>{{ (item.price - item.discountPercentage).toFixed(2) + " USD" }}</span>
      </p>
      <h5><span class="font-light">Brand: </span>{{ item.brand }}</h5>
      <h5><span class="font-light">Category: </span>{{ item.category }}</h5>
      <h5><span class="font-light">In Stock: </span>{{ item.stock }}</h5>
      <p class="rate">★{{ item.rating }} <span>(11)</span></p>
      <button (click)="addProd()">Add to Cart</button>
    </div>
  </div>
</main>
